<manifest android:versionCode="8" android:versionName="2.2.1" package="com.android.psykdup_extras"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8" />
    <uses-permission android:name="android.permission.SET_ANIMATION_SCALE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_COMPONENT_ENABLED_STATE"></uses-permission>
    <application android:label="@string/app_label" android:icon="@drawable/app_icon">
        <activity android:name="Extras">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="CWMActivity"></activity>
        <activity android:name="FilePickerActivity"></activity>
        <activity android:name="ScriptReceiver"
        android:theme="@android:style/Theme.NoTitleBar">
        </activity>
    </application>
</manifest>
